
  div, span, applet, object, iframe,
  p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 90%;
   font: inherit;
   vertical-align: baseline;
   font-size: 62.5%;
 
 }
  aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
   display: block;
 }
 body {
   line-height: 1;
 }
 ol, ul {
   list-style: none;
 }
 blockquote, q {
   quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
   content: '';
   content: none;
 }
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 /*
   ========================================
   Style Reset END
   ========================================
 
   ========================================
   START CSS CODING . . . BEGIN!
   ========================================
 
   ========================================
   GRID
   ========================================
 */
 *,
 *:before,
 *:after {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
 }
 /*
   ========================================
   COLORS FONTS & BG'S
   ========================================
 */
 /* For big lettering ->font-family: 'Noto Sans TC', sans-serif;
 for the paragraphs --> font-family: 'Roboto', sans-serif;*/
 html{
   font-size: 62.5%;
 }
 
 body{
   color:#0d0d25;
 }
 
 h1, h3{
   font: bold 5rem 'Playfair Display', serif;
 }
 
 h3{
   font-size: 5rem;
 }
 
 p, li, span, button, h2, h4, h5, h6, address{
   font: 2.5rem 'Noto Sans JP', sans-serif;
 }
 
 p{
   font-size: 2rem;
   line-height: 3rem;
   padding-bottom: 3rem;
 }
 
 h2, address{
   color: #ff8800;
 }
 
 address, .openingHours h5, .money{
   font-family: 'Prata', serif;
 }
 
 address{
   font-size: 4rem;
   font-weight: normal;
 }
 
 h5{
   font-weight: bold;
   font-size: 2.5rem;
 }
 .customer h5{
   font-family: 'Sora', sans-serif;
 }
 
 h6{
   color: #ceced4;
   font-size: 2rem;
   padding-bottom: 3rem;
 }
 
 header{
   background: url("https://picstatio.com/large/jpo1vl/Burger-fast-food-wallpaper.jpg") no-repeat center;
  background-size: cover;
 }
 
   /*
   ========================================
   SPECIFIC ITEM SIZING & LOOKS
   ========================================
 */

 .topNavImg, .socialIcons, .btnArrow{
   height: 30px;
 }
 
 
   /*
   ========================================
   MAIN LAYOUT
   ========================================
 */
 header, .main{
   padding: 5% 10%;
   clear:both;
   height: auto;
   contain: content;
 }
 
 header{
   padding-top: 2%;
 }
 
 header nav{
   float: right;
   clear: both;
 }
 
 header .mainText{
   padding: 7% 0 2% 0;
   width: 60%;
 }
 
 .mainText{
   clear: both;
   padding-bottom: 4rem;
 }
 .sectionFirst .contentConatiainer{
   width:90%;
 }
 .sectionFirst {
   padding: 5% 8% 10% 40%;
   float: right;
 }
 
 .sectionSecond, .sectionThird, .sectionFourth{
   text-align: center;
 }
 
 li{
   display: inline-block;
   padding: 0 25px;
   text-align: center;
 }
 
 .sectionCall span, .sectionCall address{
   display: block;
   padding: 0 30% 2% 30%;
 }
 
 /*
   ========================================
   NIGHTMARE OF SECTION TWO
   ========================================
 */
 div{
   color: white;
   font-size: 1rem;
   display: block;
   padding: top
 }
 
 div span, div img, div button{
   display: block;
   text-align: center;
   padding-bottom: 3%;
 }
 div img{
   padding: 1% 25%;
 }
 div button{
   margin-left: 25%;
 }

 
 /*
   ========================================
   INTERACTIVE
   ========================================
 */
 a:link, a:visited{
   text-decoration: none;
   color: inherit;
 }
 
 a:hover, a:active{
   color: #ff8800;
   transition: 0.3s;
 }
 
 button:hover, button:active{
   background: #fcae52;
   border: inherit;
   transform: translateX(8px);
   transition: transform 0.25s;
 }
 
 .menuTime:hover, .menuTime:active{
   border-bottom: 2px solid #ff8800;
 }
 


 /* cards */
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

 *,
 *::before,
 *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 :root {
   --pmcolor: #f1f0f9;
   --sdcolor: #fefefe;
   --ttcolor: #2e2e2e;
 }
 
 
 
 a {
   color: inherit;
   text-decoration: none;
 }
 
 section {
   width: 90%;
   margin: 2rem auto;
   display: grid;
   gap: 0.75rem;
   grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
 }
 
 .card {
   width: 100%;
   cursor: default;
   padding: 1.25rem;
   border-radius: 0.25rem;
   background-color: var(--sdcolor);
   transition: transform 0.3s ease-in-out;
 }
 
 .card:hover {
   transform: translateY(-0.5rem);
 }
 
 .card-img {
   width: 100%;
   height: 15rem;
   overflow: hidden;
   position: relative;
   border-radius: 0.25rem;
 }
 
 .card-img img {
   width: 100%;
   height: 100%;
   display: block;
   object-fit: cover;
   object-position: center;
 }
 
 .card-img figcaption {
   background-color: var(--ttcolor);
   color: var(--sdcolor);
   font-size: 0.85rem;
   padding: 0.5rem;
   width: 100%;
   position: absolute;
   bottom: 0;
 }
 
 .card-title {
   text-transform: capitalize;
   margin: 0.75rem 0;
 }
 
/* cards */
 



 
 /*
   ========================================
   MEDIA QUERIES
   ========================================
 */
 @media (min-width: 1201px) and (max-width: 3000px){
   .logo{
     display: none;
   }
 }
 
 @media (max-width: 1200px){
   .logo{
     display: static;
   }
   .topNavigation{
     display: none;
   }
   .mainText, header .mainText{
     width: 100%;
   }
   .sectionFirst, .sectionSecond, .sectionThird, .sectionFourth{
     padding: 5% 8% 10% 8%;
   }
   .sectionCall address{
     padding: 0 15% 2% 15%;
   }
   .arrow, .video{
     display: none;
   }
   p{
     font-size: 15px;
   }
   h1{
     font-size: 8rem;
   }
   h3{
     font-size: 5rem;
   }
 }
 
 @media (min-width: 100px) and (max-width: 900px){
 
   p{
     font-size: 15px;
   }
 }