<header style="color: white;">
  <nav>
    <ul class="topNavigation">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Menu</a></li>
      <li><a href="#">Order Now</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Location</a></li>
      <li><a href="#"><img src="https://i.imgur.com/yxzVxBL.png" class="topNavImg one"></a></li>
      <li><a href="#"><img src="https://i.imgur.com/5CJSd6J.png" class="topNavImg"></a></li>
    </ul>
  </nav>

</header>

<section class="mainText">

  <h3>
    Drinks
  </h3>

</section>

<section>
  <a >
    <article class="card">
      <figure class="card-img">
        <img
          src="https://asset20.ckassets.com/blog/wp-content/uploads/sites/5/2021/11/Best-Fruit-Juice-Brands-in-India.jpg" />

        </figure>
        <div class="card-body">
          <h2  class="card-title">Mosaic</h2>
          <p style="color: black;">Price:60₹</p>
          <button class="btn btn-warning" routerLink="/purchase">Order</button>

        </div>
    </article>
  </a>
  <a >
    <article class="card">
      <figure class="card-img">
        <img src="https://www.earthfoodandfire.com/wp-content/uploads/2018/04/Homemade-Orange-Juice-500x500.jpg" />

      </figure>
      <div class="card-body">
        <h2  class="card-title">Malabar Cafe</h2>
        <p style="color: black;">Price:40₹</p>
        <button class="btn btn-warning" routerLink="/purchase">Order</button>

      </div>
    </article>
  </a>
  <a >
    <article class="card">
      <figure class="card-img">
        <img
          src="https://c4.wallpaperflare.com/wallpaper/751/277/226/tomatoes-apples-orange-fruit-juice-wallpaper-preview.jpg" />

      </figure>
      <div class="card-body">
        <h2 class="card-title">Teapot Cafe</h2>
        <p style="color: black;">Price:70₹</p>
        <button class="btn btn-warning" routerLink="/purchase">Order</button>


      </div>
    </article>
  </a>
  <a >
    <article class="card">
      <figure class="card-img">
        <img
          src="https://c4.wallpaperflare.com/wallpaper/503/498/528/orange-kiwi-juice-glasses-wallpaper-preview.jpg" />

      </figure>
      <div class="card-body">
        <h2 class="card-title">Quisaa cafe</h2>
        <p style="color: black;">Price:60₹</p>
        <button class="btn btn-warning" routerLink="/purchase">Order</button>


      </div>
    </article>
  </a>
  <a >
    <article class="card">
      <figure class="card-img">
        <img
          src="https://us.123rf.com/450wm/zoomteam/zoomteam1602/zoomteam160200999/52487576-healthy-vegetable-juices-for-refreshment-and-as-an-antioxidant-black-background.jpg?ver=6" />

      </figure>
      <div class="card-body">
        <h2 class="card-title">Loaner's Corner</h2>
        <p style="color: black;">Price:110₹</p>
        <button class="btn btn-warning" routerLink="/purchase">Order</button>


      </div>
    </article>
  </a>
  <a >
    <article class="card">
      <figure class="card-img">
        <img
          src="https://us.123rf.com/450wm/kesu87/kesu871606/kesu87160600161/58320262-fresh-juice-mix-fruit-healthy-drinks-on-wooden-table-.jpg?ver=6" />

      </figure>
      <div class="card-body">
        <h2 class="card-title">Thai Soul</h2>
        <p style="color: black;">Price:90₹</p>
        <button class="btn btn-warning" routerLink="/purchase">Order</button>


      </div>
    </article>
  </a>


</section>
<app-bottom></app-bottom>