<header style="color: white;">
    <nav>
        <ul class="topNavigation">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#food">Menu</a></li>
            <li><a href="#food">Order Now</a></li>
            <li><a href="#">Location</a></li>
            <li><a href="/purchase"><img src="https://i.imgur.com/yxzVxBL.png" class="topNavImg one"></a></li>
            <li><a href="#"><img src="https://i.imgur.com/5CJSd6J.png" class="topNavImg"></a></li>
        </ul>
    </nav>
    <span class="logo"> Cuisine Restaurant </span>
    <section class="mainText">
        <h1>
            Welcome <br>To FudON
        </h1>
        <form class="searchButton" action="#">
            <input type="text" placeholder="Search for nearby locations" name="location">
            <button type="submit">Search</button>
        </form>
        <section class="socialMedia" >
            <section class="social">
                <img src="https://i.imgur.com/1dZyYxo.png" class="socialIcons">
                <span>
                    252k
                </span>
            </section>
            <section class="social">
                <img src="https://i.imgur.com/pVV4LdA.png" class="socialIcons">
                <span>
                    62k
                </span>
            </section>
            <section class="social">
                <img src="https://i.imgur.com/XaXdCzP.png" class="socialIcons">
                <span>
                    55k
                </span>
            </section>
        </section>
    </section>
</header>



<section id="food">
    <h3> Show Restaurants</h3>
    <div class="food-container ">
      <div class="food-type fruite">
        <div class="img-container">
          <img src="https://wallpapercave.com/wp/wp3724276.jpg" alt="error" />
          <div class="img-content">
            <h3>Veg</h3>
            <a
            routerLink="/vegfoods"
              class="btn btn-primary"
              target="blank"
              >Show more</a
            >
          </div>
        </div>
      </div>
      <div class="food-type vegetable">
        <div class="img-container">
          <img src="https://images.squarespace-cdn.com/content/v1/5e4abe98a0da1d65f55e01c3/1637266022884-ZIYBJ5ACE9ZJG0EUGFU5/iStock-1220777947.jpg?format=750w" alt="error" />
          <div class="img-content">
            <h3>Non-Veg</h3>
            <a
            routerLink="/nonvegfoods"
              class="btn btn-primary"
              target="blank"
              >Show more</a
            >
          </div>
        </div>
      </div>
     
      <div class="food-type vegetable">
        <div class="img-container">
          <img src="https://wallpapercave.com/wp/wp4166366.jpg" alt="error" />
          <div class="img-content">
            <h3>Drinks</h3>
            <a
            routerLink="/drinks"
              class="btn btn-primary"
              target="blank"
              >Show more</a
            >
          </div>
        </div>
      </div>

      <div class="food-type vegetable">
        <div class="img-container">
          <img src="https://wallpaperaccess.com/full/1306046.jpg" alt="error" />
          <div class="img-content">
            <h3>Desserts</h3>
            <a
            routerLink="/deserts"
              class="btn btn-primary"
              target="blank"
              >Show more</a
            >
          </div>
        </div>
      </div>


      <div class="food-type vegetable">
        <div class="img-container">
          <img src="https://media.istockphoto.com/photos/chicken-tikka-indian-food-picture-id1150376652?k=20&m=1150376652&s=612x612&w=0&h=1rJGPSn3md6BdEU2kC26xFIO8iL6menQnqoS4YOvdj0=" alt="error" />
          <div class="img-content">
            <h3>Starters</h3>
            <a
            routerLink="/starters"
              class="btn btn-primary"
              target="blank"
              >Show more</a
            >
          </div>
        </div>
      </div>


    </div>
  </section>







<main>


    <section class="sectionSecond main">
        <section class="mainText">
           
            <h3>
                Our Special Cuisines
            </h3>
            <h2>
                Only on FudON
            </h2>
        </section>
        <nav class="menu">
            <ul>
                <li class="menuTime"><a href="#food">Breakfast</a></li>
                <li class="menuTime"><a href="#food">Lunch</a></li>
                <li class="menuTime"><a href="#food">Dinner</a></li>
                <li class="menuTime"><a href="#food">Dessert</a></li>
                <li class="menuTime"><a href="#food">Shake</a></li>
            </ul>
        </nav>
        <section class="imgRow main">


            <section class="imgContainer">
                <img src="https://i.imgur.com/rZrnjTc.png" class="menuImg">
                <div class="imgOverlay">
                    <span class="money">₹560.00</span>
                    <img src="https://i.imgur.com/aK6bp2S.png" class="iconStarOrange">
                    <span class="name"> Chicken Orecchiette</span>
                </div>
            </section>

            <section class="imgContainer">
                <img src="https://i.imgur.com/Z0s181x.png" class="menuImg">
                <div class="imgOverlay">
                    <span class="money">₹380.0</span>
                    <img src="https://i.imgur.com/aK6bp2S.png" class="iconStarOrange">
                    <span class="name">Beef and Broccoli Pasta</span>
                </div>
            </section>
            <section class="imgContainer">
                <img src="https://i.imgur.com/GOOtEhS.png" class="menuImg">
                <div class="imgOverlay">
                    <span class="money">₹240.0</span>
                    <img src="https://i.imgur.com/aK6bp2S.png" class="iconStarOrange">
                    <span class="name">Creamy Pappardelle</span>
                </div>
            </section>
            <section class="imgContainer">
                <img src="https://i.imgur.com/wAdICQA.png" class="menuImg">
                <div class="imgOverlay">
                    <span class="money">₹150.0</span>
                    <img src="https://i.imgur.com/aK6bp2S.png" class="iconStarOrange">
                    <span class="name">Bacon Leek Pasta</span>
                </div>
            </section>
            <section class="imgContainer">
                <img src="https://i.imgur.com/nEFiAQb.png" class="menuImg">
                <div class="imgOverlay">
                    <span class="money">₹200.0</span>
                    <img src="https://i.imgur.com/aK6bp2S.png" class="iconStarOrange">
                    <span class="name">Creamy Shrimp </span>
                </div>
            </section>
            <section class="imgContainer">
                <img src="https://i.imgur.com/ndaBb7Y.png" class="menuImg">
                <div class="imgOverlay">
                    <span class="money">₹150.0</span>
                    <img src="https://i.imgur.com/aK6bp2S.png" class="iconStarOrange">
                    <span class="name">Lemon Crab Spaghetti</span>
                </div>
            </section>
            <section class="imgContainer">
                <img src="https://i.imgur.com/jBeLHBI.png" class="menuImg">
                <div class="imgOverlay">
                    <span class="money">₹400.0</span>
                    <img src="https://i.imgur.com/aK6bp2S.png" class="iconStarOrange">
                    <span class="name">Mushroom Bolognese</span>
                </div>
            </section>
           

        </section>


            <section class="sectionFirst main">
                <section class="contentConatiainer" style="color: rgb(255, 255, 255);">
                    <section class="mainText">

                        <h3>
                            Discover Our <br> Story
                        </h3>
                    </section>

                    <button class="btnDiscover">
                        Discover More
                        <img src="https://i.imgur.com/mdtAg35.png" class="btnArrow">
                    </button>
                </section>
            </section>





            