<header style="color: white;">
  <nav>
    <ul class="topNavigation">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Menu</a></li>
      <li><a href="#">Order Now</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Location</a></li>
      <li><a href="#"><img src="https://i.imgur.com/yxzVxBL.png" class="topNavImg one"></a></li>
      <li><a href="#"><img src="https://i.imgur.com/5CJSd6J.png" class="topNavImg"></a></li>
    </ul>
  </nav>

</header>

<section class="mainText">

  <h3>
    Veg Restaurants
  </h3>

</section>

<section>
  <a>
    <article class="card">
      <figure class="card-img">
        <img
          src="https://media.istockphoto.com/photos/thali-meal-indian-food-picture-id1040749178?k=20&m=1040749178&s=612x612&w=0&h=TWuhUWlAuCsyd8tNbbpJzxsl-cxRYBbE7ZY6JvgkW_0=" />

      </figure>
      <div class="card-body">
        <h2 class="card-title">Al Saj </h2>
        <p style="color: black;">Price:120₹</p>
        <button class="btn btn-warning" routerLink="/purchase">Order</button>

      </div>
    </article>
  </a>
  <a>
    <article class="card">
      <figure class="card-img">
        <img src="https://static.toiimg.com/photo/msid-69858847/69858847.jpg?1797935" />

      </figure>
      <div class="card-body">
        <h2 class="card-title">Tharavaadu</h2>
        <p style="color: black;">Price:100₹</p>
        <button class="btn btn-warning" routerLink="/purchase">Order</button>

      </div>
    </article>
  </a>
  <a>
    <article class="card">
      <figure class="card-img">
        <img
          src="https://st2.depositphotos.com/1354142/7950/i/950/depositphotos_79501064-stock-photo-south-indian-meals-served-on.jpg" />

      </figure>
      <div class="card-body">
        <h2 class="card-title">Hotel Aryaas</h2>
        <p style="color: black;">Price:70₹</p>
        <button class="btn btn-warning" routerLink="/purchase">Order</button>


      </div>
    </article>
  </a>
  <a>
    <article class="card">
      <figure class="card-img">
        <img src="https://miro.medium.com/max/1400/1*MkWAwWOVFvOlSuzwELCjfw.jpeg" />

      </figure>
      <div class="card-body">
        <h2 class="card-title">Hotel Sreedevi</h2>
        <p style="color: black;">Price:90₹</p>
        <button class="btn btn-warning" routerLink="/purchase">Order</button>


      </div>
    </article>
  </a>
  <a>
    <article class="card">
      <figure class="card-img">
        <img src="https://static.onecms.io/wp-content/uploads/sites/44/2019/07/30/6885403.jpg" />

      </figure>
      <div class="card-body">
        <h2 class="card-title">Malabar Cafe</h2>
        <p style="color: black;">Price:60₹</p>
        <button class="btn btn-warning" routerLink="/purchase">Order</button>


      </div>
    </article>
  </a>
  <a>
    <article class="card">
      <figure class="card-img">
        <img
          src="https://images.unsplash.com/photo-1598449426314-8b02525e8733?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dmVnZXRhcmlhbiUyMGZvb2R8ZW58MHx8MHx8&w=1000&q=80" />

      </figure>
      <div class="card-body">
        <h2 class="card-title">Mary's Kitchen</h2>
        <p style="color: black;">Price:160₹</p>
        <button class="btn btn-warning" routerLink="/purchase">Order</button>

      </div>
    </article>
  </a>

</section>
<app-bottom></app-bottom>