
       <header style="color: white;">
        <nav>
            <ul class="topNavigation">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Order Now</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Location</a></li>
                <li><a href="#"><img src="https://i.imgur.com/yxzVxBL.png" class="topNavImg one"></a></li>
                <li><a href="#"><img src="https://i.imgur.com/5CJSd6J.png" class="topNavImg"></a></li>
            </ul>
        </nav>
       
    </header>

    <section class="mainText">
               
        <h3>
          Starters
        </h3>
      
    </section>

    <section>
        <a >
          <article class="card">
            <figure class="card-img">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBnUV-ockE87MQZSz6kC52J55-LbjMn8ceyw&usqp=CAU" />
             
            </figure>
            <div class="card-body">
              <h2 class="card-title">Farmers Cafe</h2>
              <p style="color: black;">Price:130₹</p>
              <button class="btn btn-warning" routerLink="/purchase">Order</button>

            </div>
          </article>
        </a>
        <a>
          <article class="card">
            <figure class="card-img">
              <img src="https://media.istockphoto.com/photos/variety-of-appetizers-picture-id1361112756?b=1&k=20&m=1361112756&s=170667a&w=0&h=34ex7rBL1r11HTXJARPfV03-FYK7FJVWpN_OX7xnNQA=" />
              
            </figure>
            <div class="card-body">
              <h2 class="card-title">Lilliput Cafe</h2>
              <p style="color: black;">Price:90₹</p>
              <button class="btn btn-warning" routerLink="/purchase">Order</button>


            </div>
          </article>
        </a>
        <a>
          <article class="card">
            <figure class="card-img">
              <img src="https://img.freepik.com/free-photo/aloo-sev-puri-is-popular-indian-roadside-chat-chaat-item_466689-73879.jpg?w=2000" />
              
            </figure>
            <div class="card-body">
              <h2 class="card-title">Cilliout Cafe</h2>
              <p style="color: black;">Price:40₹</p>
              <button class="btn btn-warning" routerLink="/purchase">Order</button>


            </div>
          </article>
        </a>
        <a>
            <article class="card">
              <figure class="card-img">
                <img src="https://media.istockphoto.com/photos/chicken-lollipop-on-a-white-platter-garnished-with-scallion-picture-id1269099250?k=20&m=1269099250&s=612x612&w=0&h=cwcPKcVtxi3y484WPlTWprGpATbtAcIllLl3KGRUoOM=" />
                
              </figure>
              <div class="card-body">
                <h2 class="card-title">Grand Hotel</h2>
                <p style="color: black;">Price:160₹</p>
                <button class="btn btn-warning" routerLink="/purchase">Order</button>


              </div>
            </article>
          </a>
          <a>
            <article class="card">
              <figure class="card-img">
                <img src="https://i.pinimg.com/originals/ab/8b/d3/ab8bd3b36ea9f7856bd17fc4f6467c0a.jpg" />
                
              </figure>
              <div class="card-body">
                <h2 class="card-title">Grand Lounge</h2>
                <p style="color: black;">Price:80₹</p>
                <button class="btn btn-warning" routerLink="/purchase">Order</button>


              </div>
            </article>
          </a>
          <a>
            <article class="card">
              <figure class="card-img">
                <img src="https://www.crazymasalafood.com/wp-content/images/fried-chicken-momos.jpg" />
                
              </figure>
              <div class="card-body">
                <h2 class="card-title">Fusion Bay</h2>
                <p style="color: black;">Price:120₹</p>
                <button class="btn btn-warning"routerLink="/purchase">Order</button>


              </div>
            </article>
          </a>
         
          <!-- <app-forms></app-forms> -->

      </section>

      <app-bottom></app-bottom>
 