
       <header style="color: white;">
        <nav>
            <ul class="topNavigation">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Order Now</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Location</a></li>
                <li><a href="#"><img src="https://i.imgur.com/yxzVxBL.png" class="topNavImg one"></a></li>
                <li><a href="#"><img src="https://i.imgur.com/5CJSd6J.png" class="topNavImg"></a></li>
            </ul>
        </nav>
       
    </header>

    <section class="mainText">
               
        <h3>
          Non-Veg Restaurants
        </h3>
      
    </section>

    <section>
        <a>
          <article class="card">
            <figure class="card-img">
              <img src="https://us.123rf.com/450wm/indianfoodimages/indianfoodimages1908/indianfoodimages190800031/128895303-assorted-indian-non-vegetarian-food-recipe-served-in-a-group-includes-chicken-curry-mutton-masala-an.jpg?ver=6" />
             
            </figure>
            <div class="card-body">
              <h2 class="card-title">Al Saj Kitchen</h2>
              <p style="color: black;">Price:230₹</p>
              <button class="btn btn-warning" routerLink="/purchase">Order</button>
            </div>
          </article>
        </a>
        <a>
          <article class="card">
            <figure class="card-img">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRi1G_k7sqeLNCDuSHRQsP1azxNbFiE0vpejpwKAJJabjnVQI2QncIAY8ZxBCYEWcm1yk4&usqp=CAU" />
              
            </figure>
            <div class="card-body">
              <h2 class="card-title">Lucamo Art Cafe</h2>
              <p style="color: black;">Price:140₹</p>
              <button class="btn btn-warning" routerLink="/purchase">Order</button>


            </div>
          </article>
        </a>
        <a>
          <article class="card">
            <figure class="card-img">
              <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/mvd4xicobnnhzpm7shu7" />
              
            </figure>
            <div class="card-body">
              <h2 class="card-title">De Cafe</h2>
              <p style="color: black;">Price:160₹</p>
              <button class="btn btn-warning" routerLink="/purchase">Order</button>


            </div>
          </article>
        </a>
        <a>
            <article class="card">
              <figure class="card-img">
                <img src="https://images.unsplash.com/photo-1585032226651-759b368d7246?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y2hpbmVzZSUyMGZvb2R8ZW58MHx8MHx8&w=1000&q=80" />
                
              </figure>
              <div class="card-body">
                <h2 class="card-title">Tibetan Cafe</h2>
                <p style="color: black;">Price:140₹</p>
                <button class="btn btn-warning" routerLink="/purchase">Order</button>


              </div>
            </article>
          </a>
          <a>
            <article class="card">
              <figure class="card-img">
                <img src="https://theyumyumclub.com/wp-content/uploads/2019/04/CTT-fy-2.png" />
                
              </figure>
              <div class="card-body">
                <h2 class="card-title">Arabian Palace</h2>
                <p style="color: black;">Price:120₹</p>
                <button class="btn btn-warning" routerLink="/purchase">Order</button>


              </div>
            </article>
          </a>
          <a>
            <article class="card">
              <figure class="card-img">
                <img src="https://wallpapercave.com/wp/wp7556199.jpg" />
                
              </figure>
              <div class="card-body">
                <h2 class="card-title">Al-Reem </h2>
                <p style="color: black;">Price:180₹</p>
                <button class="btn btn-warning" routerLink="/purchase">Order</button>


              </div>
            </article>
          </a>
         
      </section>

      <app-bottom></app-bottom>

      


 