<div class="container mt-5">
    <div class="row">
        <div class="col-75">
          <div class="container">
            <form action="/action_page.php">
            
              <div class="row">
                <div class="col-50">
                  <h3>Your Address</h3>
                  <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                  <input type="text" id="fname" name="firstname" placeholder="">
                  <label for="email"><i class="fa fa-envelope"></i> Email</label>
                  <input type="text" id="email" name="email" placeholder="">
                  <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                  <input type="text" id="adr" name="address" placeholder="">
                  <label for="city"><i class="fa fa-institution"></i> City</label>
                  <input type="text" id="city" name="city" placeholder="">
                  <label for="mobile"><i class="fa fa-user"></i>Mobile Number</label>
                  <input type="number" id="mobile" name="mobile" placeholder="">
                  
                </div>
      
                <div class="col-50">
                  <h3>Payment</h3>
                  <label for="fname">Accepted Cards</label>
                  <div class="icon-container">
                    <i class="fa fa-cc-visa" style="color:navy;"></i>&nbsp;
                    <i class="fa fa-cc-amex" style="color:blue;"></i>&nbsp;
                    <i class="fa fa-cc-mastercard" style="color:red;"></i>&nbsp;
                    <i class="fa fa-cc-discover" style="color:orange;"></i>&nbsp;
                  </div>
                  <label for="cname">Name on Card</label>
                  <input type="text" id="cname" name="cardname" placeholder="">
                  <label for="ccnum">Credit card number</label>
                  <input type="text" id="ccnum" name="cardnumber" placeholder="">
                  <label for="expmonth">Exp Month</label>
                  <input type="text" id="expmonth" name="expmonth" placeholder="">
                  <div class="row">
                    <div class="col-50">
                      <label for="expyear">Exp Year</label>
                      <input type="text" id="expyear" name="expyear" placeholder="">
                    </div>
                    <div class="col-50">
                      <label for="cvv">CVV</label>
                      <input type="text" id="cvv" name="cvv" placeholder="">
                    </div>
                  </div>
                </div>
                
              </div>
             
              <input type="submit" value="Order Now" class="btn">
            </form>
          </div>
        </div>
        <div class="col-25">
          <div class="container">
            <h4>Your Order</h4>
            <!-- <p><a href="#">Product 1</a> <span class="price">$15</span></p>
            <p><a href="#">Product 2</a> <span class="price">$5</span></p>
            <p><a href="#">Product 3</a> <span class="price">$8</span></p>
            <p><a href="#">Product 4</a> <span class="price">$2</span></p>
            <hr> -->
            <p>Total <span class="price" style="color:black"><b>₹</b></span></p>
          </div>
        </div>
      </div>
</div>

