
       <header style="color: white;">
        <nav>
            <ul class="topNavigation">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Order Now</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Location</a></li>
                <li><a href="#"><img src="https://i.imgur.com/yxzVxBL.png" class="topNavImg one"></a></li>
                <li><a href="#"><img src="https://i.imgur.com/5CJSd6J.png" class="topNavImg"></a></li>
            </ul>
        </nav>
       
    </header>

    <section class="mainText">
               
        <h3>
          Desserts
        </h3>
      
    </section>

    <section>
        <a >
          <article class="card">
            <figure class="card-img">
              <img src="https://images.unsplash.com/photo-1551024601-bec78aea704b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGVzc2VydHxlbnwwfHwwfHw%3D&w=1000&q=80" />
             
            </figure>
            <div class="card-body">
              <h2 class="card-title">Zoka</h2>
              <p style="color: black;">Price:60₹</p>
              <button class="btn btn-warning" routerLink="/purchase">Order</button>

            </div>
          </article>
        </a>
        <a>
          <article class="card">
            <figure class="card-img">
              <img src="https://images.unsplash.com/photo-1563805042-7684c019e1cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZGVzc2VydHxlbnwwfHwwfHw%3D&w=1000&q=80" />
              
            </figure>
            <div class="card-body">
              <h2 class="card-title">Sky Grill</h2>
              <p style="color: black;">Price:160₹</p>
              <button class="btn btn-warning" routerLink="/purchase">Order</button>


            </div>
          </article>
        </a>
        <a>
          <article class="card">
            <figure class="card-img">
              <img src="https://wallpapercave.com/wp/wp9151369.jpg" />
              
            </figure>
            <div class="card-body">
              <h2 class="card-title">Momo's Cafe</h2>
              <p style="color: black;" >Price:110₹</p>
              <button class="btn btn-warning" routerLink="/purchase">Order</button>


            </div>
          </article>
        </a>
        <a>
            <article class="card">
              <figure class="card-img">
                <img src="https://c4.wallpaperflare.com/wallpaper/491/779/814/dessert-4k-background-for-computer-wallpaper-preview.jpg" />
                
              </figure>
              <div class="card-body">
                <h2 class="card-title">Cake Hut</h2>
                <p style="color: black;" >Price:70₹</p>
                <button class="btn btn-warning" routerLink="/purchase">Order</button>


              </div>
            </article>
          </a>
          <a>
            <article class="card">
              <figure class="card-img">
                <img src="https://c4.wallpaperflare.com/wallpaper/626/14/515/dessert-sweet-food-cake-wallpaper-preview.jpg" />
                
              </figure>
              <div class="card-body">
                <h2 class="card-title">Rasoi Kochi</h2>
                <p style="color: black;">Price:90₹</p>
                <button class="btn btn-warning" routerLink="/purchase">Order</button>


              </div>
            </article>
          </a>
          <a>
            <article class="card">
              <figure class="card-img">
                <img src="https://images.alphacoders.com/276/thumb-1920-276921.jpg" />
                
              </figure>
              <div class="card-body">
                <h2 class="card-title">Cassava</h2>
                <p style="color: black;">Price:50₹</p>
                <button class="btn btn-warning" routerLink="/purchase">Order</button>


              </div>
            </article>
          </a>
         
      </section>


      <app-bottom></app-bottom>
 